@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

#root {
    /* height: 100vh; */
    width: inherit;
    margin-top: 3%;
    padding: 1%;
    /* padding-top: 3%; */
    display: flex;
    justify-content: space-around;
    background: #f9f9f9;
    
}

.race-window {
    width: 50%;
}

#commentator {
    padding: 1%;
    border-radius: 4px;
    box-shadow: 0px 0px 15px silver;
    width: 30%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commentator-name {
    margin-bottom: 10px;
}

#commentator-name i {
    font-size: 24px;
}

#commentator-name i:hover {
    color: blue;
}

#commentator-description {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow-y: scroll;
}
/* ========================== */

#waitingRace {
    /* width: 300px; */
    width: 100%;
    padding: 1%;
    /* margin: 4% auto 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px silver;
    border-radius: 4px;
}

#waitingRace span {
    margin-bottom: 10px;
}

#race {
    display: none;
    position: relative;
    width: 100%;
    /* margin: 3% auto 0; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px silver;
    padding: 2%;
    border-radius: 4px;
}

.raceParticipants {
    width: 100%;
    margin: 40px auto 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#players li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#players li:nth-child(even) {
    background-color: #f9f9f9;
}

#race progress {
    margin-left: 20px;
}

#textRace {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

#raceTimer,
#nextRaceTimer {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1%;
    box-shadow: 0px 0px 15px silver;
    border-radius: 4px;
}

.typedText {
    color: silver;
}

.activeSymbol {
    background-color: aqua;
    font-weight: bold;
}

#result {
    display: none;
    position: relative;
    width: 100%;
    margin: 3% auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px silver;
    padding: 2%;
    border-radius: 4px;
}

#winners li:nth-child(even) {
    background-color: #f9f9f9;
}
